<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Módulo Sanitario</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../style.css">    
</head>
<body>
    <header>
        <div>
            <nav>
                <ul class="menu">
                    <li>
                        <a href="../index.html">Home</a>
                    </li>
                    <li>
                        <a href="../views/nosotros.html">Nosotros</a>
                    </li>     
                    <li>
                        <a href="../views/historias.html">Historias</a>
                    </li>
                    <li>
                        <a href="../views/dona.html">Doná</a>
                    </li>
                    <li>
                        <a href="../views/voluntariado.html">Voluntariado</a>
                    </li>
                </ul>     
            </nav>>    
        </div>
    </header>        
    <footer>
        <h2>Copyright todos los derechos reservados</h2>
        <p>seguinos en nuestras redes sociales</p>
    </footer>
    <script src="../js/bootstrap.min.js"></script>
</body>
</html>